.scrollToTop {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 5;
}

.scrollTopBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 0.7;
  
  &:hover {
    opacity: 1;
  }
  
  &:focus {
    outline: 2px solid #e2ac5a;
    outline-offset: 2px;
  }
}

.topBtnIcon {
  font-size: 50px;
  color: #e2ac5a;
  
  &:hover {
    color: #e2ac5a;
  }
}

@media all and (max-width: 950px) {
  .scrollToTop {
    bottom: 25px;
    right: 15px;
  }
  
  .topBtnIcon {
    font-size: 45px;
  }
}

@media all and (max-width: 750px) {
  .scrollToTop {
    bottom: 22px;
    right: 12px;
  }
  
  .topBtnIcon {
    font-size: 42px;
  }
}

@media all and (max-width: 540px) {
  .scrollToTop {
    right: 10px;
    bottom: 20px;
  }
  
  .topBtnIcon {
    font-size: 40px;
  }
}

@media all and (max-width: 413px) {
  .scrollToTop {
    bottom: 18px;
    right: 8px;
  }
  
  .topBtnIcon {
    font-size: 38px;
  }
}

@media all and (max-width: 344px) {
  .scrollToTop {
    bottom: 15px;
    right: 5px;
  }
  
  .topBtnIcon {
    font-size: 35px;
  }
}






