
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  width: 100%;
  
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.accordionContent {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  
  .dark-background & {
    color: #ffffff;
  }
  
  .light-background & {
    color: #202020;
  }
}

@media all and (max-width: 950px) {
  .flexBetween {
    padding: 0.375rem 0;
  }
  
  .accordionContent {
    font-size: 0.95rem;
  }
}

@media all and (max-width: 750px) {
  .flexBetween {
    padding: 0.25rem 0;
  }
  
  .accordionContent {
    font-size: 0.9rem;
  }
}

@media all and (max-width: 540px) {
  .flexBetween {
    padding: 0.2rem 0;
  }
  
  .accordionContent {
    font-size: 0.85rem;
  }
}

@media all and (max-width: 413px) {
  .accordionContent {
    font-size: 0.8rem;
  }
}

@media all and (max-width: 344px) {
  .accordionContent {
    font-size: 0.75rem;
  }
}
