.filterStock {
  margin: 10px 40px 50px;
  
  .filterIcon {
    padding-right: 5px;
    font-size: 20px;
  }
  
  .dropdownMenu {
    height: 250px;
    overflow-y: scroll;
  }
  
  .dropdownItem {
    font-size: 14px;
  }
}

@media all and (max-width: 750px) {
  .filterStock {
    margin: 10px 20px 50px;
  }
  
  .filteredStocks {
    width: 110px;
    height: 50px;
    font-size: 14px; 
  }
}

@media all and (max-width: 540px) {
  .filterStock {
    margin: 10px 15px 40px;
  }
}

@media all and (max-width: 413px) {
  .filterStock {
    margin: 10px 10px 30px;
  }
  
  .filterIcon {
    font-size: 18px !important;
  }
}

@media all and (max-width: 344px) {
  .filterStock {
    margin: 10px 5px 25px;
  }
  
  .filterIcon {
    font-size: 16px !important;
  }
}

